*{
  margin: 0;
  padding: 0;
  direction: rtl;
}
html{
  margin: 0;
  padding: 0;
}
.flexCol{
  display: flex;
  flex-direction: column;
}
.bet{
  justify-content: space-between;
}
.w100{
  width: 100%;
}
.flexRow{
  display: flex;
  flex-direction: row;
}
.center{
   
  justify-content: center;
  align-items: center;
}
.w80{
  width: 80%;
}
.w70{
  width: 70%;
}
.rtl{
  direction: rtl;
}

.InputDiv{
  margin-bottom: 25px;
  min-height: 25vh;

}
.list{
  min-width: 20vw;
}


@media screen and (max-width: 600px) {
  .flexRow{
 
    flex-direction: column;
  }
}